{% extends "base.html" %}
{% block content %}
<h1>Lisää päiväkirjamerkintä liittyen kasviin {{plant.tradename}}</h1>

{% if errors %}
<div class="alert alert-danger">
    <ul>
        {% for error in errors %}
        <li>{{error}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<form method="post" action="{{base_path}}/newDiary/{{plant.tradename}}/{{ownplant_id}}">
    <div class="form-group">
        <label>Otsikko</label>
        <input name="title" class="form-control" value="" type="text">
    </div>
    <div class="form-group">
        <label>Merkintä</label>
        <textarea name="post" class="form-control"> 

        </textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
</form>
{% endblock %}