{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}
{% if message %}
<div class="alert alert-success">
  {{message}}
</div>
{% endif %}

<h1>Päiväkirjamerkinnät koskien kasvia: {{tradename}}</h1>

<p>
    <a href="{{base_path}}/addDiary/{{tradename}}/{{ownplant_id}}" class="btn btn-success">Lisää uusi</a>
</p>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Otsikko</th>
            <th>Lisäyspäivä</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {% for post in diary %}
        <tr>
            <td><a href="{{base_path}}/diarypost/{{post.id}}/{{ownplant_id}}">{{post.title}}</a></td>
            <td>{{post.posted}}</td>
            <th><a class="btn btn-default btn-sm" href="/PlantBuds/edit_diary/{{post.id}}">Muokkaa</a></th>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

