{% extends "base.html" %}
{% block content %}
<h1>Muokkaa merkintää</h1>

{% if errors %}
<div class="alert alert-danger">
    <ul>
        {% for error in errors %}
        <li>{{error}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<form method="post" action="{{base_path}}/edit_diary/{{diary.id}}">
    <div class="form-group">
        <label>Otsikko</label>
        <input class="form-control" name="title" value="{{diary.title}}" type="text">
    </div>
    <div class="form-group">
        <label>Merkintä</label>
        <textarea class="form-control" name="post">{{diary.post}}</textarea>
    </div>
    <div>
         <input name="owned_id" value="{{diary.owned_id}}" type="hidden">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
</form>
{% endblock %}