{% extends "base.html" %}
{% block content %}
<h1>Lisää uusi kasvi omaan kokoelmaasi</h1>

{% if errors %}
<div class="alert alert-danger">
    <ul>
        {% for error in errors %}
        <li>{{error}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<form method="get" action="" class="form-inline">
    <div class="form group">
        <input size="30" type="text" name="search" class="form-control" placeholder="Rajaa listan kasveja, tyhjä näyttää kaikki">
        <button type="submit" class="btn btn-default">Hae</button></div>
</form>

<form method="post" action="{{base_path}}/newOwnPlant">
    <div class="form-group">
        <label>Valitse kasvi listasta</label>
        <select name="tradename" class="form-control" id="dropdown">   
            {% for plant in plants %}
            <option {% if (attributes.tradename == plant.tradename) %} selected {% endif %} value="{{plant.tradename}}">{{plant.tradename}} - {{plant.latin_name}}</option>
            {% endfor %}
        </select>  
    </div>
    <div class="form-group">
        <label>Jokin muu, mikä?</label>
        <input name="tradename2" class="form-control" value="{{attributes.tradename2}}" type="text">
    </div>
    <div class="form-group">
        <label>Jokin muu, mikä - latinankielinen nimi</label>
        <input name="latin_name2" class="form-control" value="{{attributes.latin_name2}}" type="text">
    </div>
    <div class="form-group">
        <label>Hankintapäivä</label>
        <input name="acquisition" class="form-control" value="{{attributes.acquisition}}" type="text">
    </div>

    <div class="form-group">
        <label>Sijainti</label>
        <select name="location" class="form-control" id="dropdown">
            <option{% if (attributes.location == 'Eteläikkuna') %} selected {% endif %}>Eteläikkuna</option>
            <option {% if (attributes.location == 'Pohjoisikkuna') %} selected {% endif %}>Pohjoisikkuna</option>
            <option{% if (attributes.location == 'Länsi-ikkuna') %} selected {% endif %}>Länsi-ikkuna</option>
            <option{% if (attributes.location == 'Itäikkuna') %} selected {% endif %}>Itäikkuna</option>
        </select>  
    </div>
    <div class="form-group">
        <label>Etäisyysarvio ikkunasta metreinä</label>
        <select name="distance_window" class="form-control" id="dropdown">
            <option {% if (attributes.distance_window == 0.0) %} selected {% endif %}>0.0</option>
            <option {% if (attributes.distance_window == 0.5) %} selected {% endif %}>0.5</option>
            <option {% if (attributes.distance_window == 1.0) %} selected {% endif %}>1.0</option>
            <option {% if (attributes.distance_window == 1.5) %} selected {% endif %}>1.5</option>
            <option {% if (attributes.distance_window == 2.0) %} selected {% endif %}>2.0</option>
            <option {% if (attributes.distance_window == 2.5) %} selected {% endif %}>2.5</option>
            <option {% if (attributes.distance_window == 3.0) %} selected {% endif %}>3.0</option>
            <option {% if (attributes.distance_window == 3.5) %} selected {% endif %}>3.5</option>
            <option {% if (attributes.distance_window == 4.0) %} selected {% endif %}>4.0</option>
            <option {% if (attributes.distance_window == 4.5) %} selected {% endif %}>4.5</option>
            <option {% if (attributes.distance_window == 5.0) %} selected {% endif %}>5.0</option>
        </select>  
    </div>
    <div class="form-group">
        <label>Kastelu</label>
        <select name="watering" class="form-control" id="dropdown">
            <option {% if (attributes.watering == 'Kerran päivässä') %} selected {% endif %}>Kerran päivässä</option>
            <option {% if (attributes.watering == 'Joka toinen päivä') %} selected {% endif %}>Joka toinen päivä</option>
            <option {% if (attributes.watering == 'Kerran viikossa') %} selected {% endif %}>Kerran viikossa</option>
            <option {% if (attributes.watering == 'Joka toinen viikko') %} selected {% endif %}>Joka toinen viikko</option>
            <option {% if (attributes.watering == 'Kerran kuussa') %} selected {% endif %}>Kerran kuussa</option>
        </select>  
    </div>
    <div class="form-group">
        <label>Lannoitus</label>
        <select name="fertilizing" class="form-control" id="dropdown">
            <option {% if (attributes.fertilizing == 'Kerran viikossa') %} selected {% endif %}>Kerran viikossa</option>
            <option {% if (attributes.fertilizing == 'Joka toinen viikko') %} selected {% endif %}>Joka toinen viikko</option>
            <option {% if (attributes.fertilizing == 'Kerran kuukaudessa') %} selected {% endif %}>Kerran kuukaudessa</option>
            <option {% if (attributes.fertilizing == 'Kerran kahdessa kuukaudessa') %} selected {% endif %}>Kerran kahdessa kuukaudessa</option>
            <option {% if (attributes.fertilizing == 'Harvemmin') %} selected {% endif %}>Harvemmin</option>
        </select>  
    </div>
    <div class="form-group">
        <label>Kasvualusta</label>
        <select name="soil" class="form-control" id="dropdown">
            <option>Kaupallinen multa</option>
            <option>Oma sekoitus</option>
        </select>  
    </div>
    <div class="form-group">
        <label>Mullan merkki tai mikä sekoitus</label>
        <input name="soil_description" class="form-control" value="" type="text">
    </div>
    <div class="form-group">
        <label>Lisätiedot</label>
        <textarea name="details" class="form-control"></textarea></div><div class="form-group">
        <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
</form>
{% endblock %}