{% extends "base.html" %}
{% block content %}
<h1>Muokkaa kasvia {{plant.tradename}}</h1>

{% if errors %}
<div class="alert alert-danger">
    <ul>
        {% for error in errors %}
        <li>{{error}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<form method="post" action="{{base_path}}/edit_o/{{plant.id}}">
    <div class="form-group">
        <input name="plant_id" value="{{plant.plant_id}}" type="hidden">
    </div>
    <div class="checkbox">
        <label>
            <input name="status" type="checkbox">
            Kuollut
        </label>
    </div>
    <div class="form-group">
        <div class="form-group">
            <label>Hankintapäivä</label>
            <input name="acquisition" class="form-control" value="{{plant.acquisition}}" type="text">
        </div>
        <div class="form-group">
            <label>Sijainti</label>
            <select name="location">
                <option>Eteläikkuna</option>
                <option>Pohjoisikkuna </option>
                <option>Länsi-ikkuna</option>
                <option>Itäikkuna</option>
            </select>  
        </div>
        <div class="form-group">
            <label>Etäisyys ikkunasta</label>
            <select name="distance_window">
                <option>0.0</option>
                <option>0.5</option>
                <option>1.0</option>
                <option>1.5</option>
                <option>2.0</option>
                <option>2.5</option>
                <option>3.0</option>
                <option>3.5</option>
                <option>4.0</option>
                <option>4.5</option>
                <option>5.0</option>
            </select>  
        </div>
        <div class="form-group">
            <label>Kastelu</label>
            <select name="watering">
                <option>Kerran päivässä</option>
                <option>Joka toinen päivä</option>
                <option>Kerran viikossa</option>
                <option>Joka toinen viikko</option>
                <option>Kerran kuussa</option>
            </select>  
        </div>
        <div class="form-group">
            <label>Lannoitus</label>
            <select name="fertilizing">
                <option>Kerran viikossa</option>
                <option>Joka toinen viikko</option>
                <option>Kerran kuukaudessa</option>
                <option>Kerran kahdessa kuukaudessa</option>
                <option>Harvemmin</option>
            </select>  
        </div>
        <div class="form-group">
            <label>Kasvualusta</label>
            <select name="soil">
                <option>Kaupallinen multa</option>
                <option>Oma sekoitus</option>
            </select>  
        </div>
        <div class="form-group">
            <label>Mullan merkki tai mikä sekoitus</label>
            <input name="soil_description" class="form-control" value="{{plant.soil_description}}" type="text">
        </div>
        <div class="form-group">
            <label>Lisätiedot</label>
            <textarea name="details" class="form-control">{{plant.details}}</textarea>
        </div>
        <div class="form-group">
            <input name="tradename" value="{{plant.tradename}}" type="hidden">
            <input name="latin_name" value="{{plant.latin_name}}" type="hidden">
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Tallenna</button>
        </div>
</form>
{% endblock %}