{% extends "base.html" %}
{% block content %}
<h1>Lisää päiväkirjamerkintä liittyen kasviin {{diary.tradename}}</h1>

<form method="post" action="{{base_path}}/newDiary">
    <div class="form-group">
        <label>Otsikko</label>
        <input name="title" class="form-control" value="" type="text">
    </div>
    <div class="form-group">
        <label>Merkintä</label>
        <textarea name="post" class="form-control"> 

        </textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
</form>
{% endblock %}