{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}
<h1>{{plant.tradename}}</h1>
<!-- Painikkeet tähän -->
<p>
     {{forms.destroy_button("#{base_path}/care/#{plant.id}/destroy")}} <a href="/PlantBuds/edit_o/{{plant.id}}" class="btn btn-default">Muokkaa</a>
</p>
<!-- Tiedot tulee listana tähän -->
<ul>
    <li><strong>Nimi:</strong> {{plant.tradename}}</li>
    <li><strong>Hankintapäivä:</strong> {{plant.acquisition}}</li>
    <li><strong>Latinankielinen nimi:</strong> {{plant.latin_name}}</li>
    <li><strong>Status:</strong> 
        {% if plant.status == 'elossa' %}
        <label class="label label-success">elossa</label>
        {% else %}
        <label class="label label-danger">kuollut</label>
        {% endif %}
    </li>
    <li><strong>Sijainti:</strong> {{plant.location}}</li>
    <li><strong>Etäisyys ikkunasta:</strong> {{plant.distance_window}}</li>
    <li><strong>Kastelu:</strong> {{plant.watering}}</li>
    <li><strong>Lannoitus:</strong> {{plant.fertilizing}}</li>
    <li><strong>Kasvualusta:</strong> {{plant.soil}}</li>
    <li><strong>Mullan merkki tai mikä sekoitus:</strong> {{plant.soil_description}}</li>
</ul>
<!-- Kuvaus tulee tähän -->
<p>
    {{plant.details}}
</p>
{% endblock %}