{% extends "base.html" %}
{% block content %}
<h1>Muokkaa merkintää</h1>

<form>
    <div class="form-group">
        <label>Otsikko</label>
        <input class="form-control" value="Yucca elephantipes" type="text">
    </div>
    <div class="form-group">
        <label>Merkintä</label>
        <textarea class="form-control"> 
Uusi lehti!
        </textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
</form>
{% endblock %}