<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>TODO write content</div>
        <a href="/PlantBuds/hiekkalaatikko">Hiekkis</a>
        <a href="/PlantBuds/care">Show own plant</a>
        <a href="/PlantBuds/edit_o">Edit own plant</a>
        <a href="/PlantBuds/edit_p">Edit a plant</a>
        <a href="/PlantBuds/list_o">List own plants</a>
        <a href="/PlantBuds/list_p">List all plants</a>
        <a href="/PlantBuds/login">Log in</a>
        <a href="/PlantBuds/description">Show a plant</a>
    </body>
</html>
