{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}
<h1>Käyttäjän {{user_logged_in.username}} kasvit</h1>

<p>
    <a href="{{base_path}}/addOwnPlant" class="btn btn-success">Lisää kasvi</a>
</p>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Nimi</th>
            <th>Latinankielinen nimi</th>
            <th>Hankintapäivä</th>
            <th>Status</th>
            <th>Lisäyspäivä</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {% for plant in plants %}
        <tr>
            <td><a href="{{base_path}}/care/{{plant.id}}">{{plant.tradename}}</a></td>
            <td>{{plant.latin_name}}</td>
            <td>{{plant.acquisition}}</td>
            {% if plant.status == 'elossa' %}
            <td><label class="label label-success">elossa</label></td>
            {% else %}
            <td><label class="label label-danger">kuollut</label></td>
            {% endif %}
            <td>{{plant.added}}</td>
            <th><a class="btn btn-default btn-sm" href="{{base_path}}/edit_o/{{plant.id}}">Muokkaa</a></th>   
            <th><a class="btn btn-default btn-sm" href="{{base_path}}/diarylist/{{plant.id}}">Päiväkirjamerkinnät</a></th>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

