{% extends "base.html" %}
{% block content %}
<h1>Kaikki kasvit</h1>

<p>
    <a href="/PlantBuds/edit_p" class="btn btn-success">Lisää kasvi</a>
</p>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Nimi</th>
            <th>Latinankielinen nimi</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <!-- Listataan kasvit tähän -->
        <tr>
            <td><a href="/PlantBuds/description">Jukkapalmu</a></td>
            <td>Yucca elephantipes</td>
        </tr>
    </tbody>
</table>
{% endblock %}

