{% extends "base.html" %}
{% block content %}
<h1>Kaikki kasvit</h1>

<p>
    <a href="{{base_path}}/addPlant" class="btn btn-success">Lisää kasvi</a>
</p>

<form method="get" action="" class="form-inline">
    <div class="form group">
        <input type="text" name="search" class="form-control" placeholder="Hakusana">
    <button type="submit" class="btn btn-default">Hae</button></div>
</form>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Nimi</th>
            <th>Latinankielinen nimi</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {% for plant in plants %}
        <tr>
            <td><a href="{{base_path}}/description/{{plant.id}}">{{plant.tradename}}</a></td>
            <td>{{plant.latin_name}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

