{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}
{% if message %}
<div class="alert alert-success">
  {{message}}
</div>
{% endif %}

<h1>{{plant.tradename}}</h1>
{% if user_logged_in %}
<p>
    <!--{{forms.destroy_button("#{base_path}/description/#{plant.id}/destroy")}}-->
    <a href="{{base_path}}/edit_p/{{plant.id}}" class="btn btn-default">Muokkaa</a>
</p>
{% endif %}

<ul>
    <li><strong>Latinankielinen nimi:</strong> {{plant.latin_name}}</li>
    <li><strong>Muokattu viimeksi:</strong> {{plant.edited}}</li>
    <li><strong>Kastelun tarve:</strong>{{plant.water}}</li>
    <li><strong>Valo:</strong>{{plant.light}}</li>
</ul>
<p>
    {{plant.description}}
</p>


<strong>Kuvauksen kirjoittamiseen osallistuneet:</strong><br>
{% for writer in writers %}
{{writer.username}}<br>
{% endfor %}

{% endblock %}